[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = ./demoCA
new_certs_dir     = ./demoCA/newcerts
database          = ./demoCA/index.txt
serial            = ./demoCA/serial
crlnumber         = ./demoCA/crlnumber
certificate       = ./ca/root_ca.crt
private_key       = ./ca/private/root_ca.key
default_md        = sha256
default_days      = 365
default_crl_days  = 30
policy            = policy_loose
x509_extensions   = usr_cert
copy_extensions   = copy
crl               = ./ca/crl/revoke_crl.pem

[ policy_loose ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ usr_cert ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
